body {
  font-family: 'Manjari', sans-serif;
  text-align: center;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

/* Welcome Section */

.welcome-section {
  margin: 50px auto;
  background-color: teal;
  height: 25vh;
  padding: 50px 0;
}

.welcome-section > h1 {
  font-size: 5rem;
}

.welcome-section > p {
  font-size: 1.25rem;
  color: #fff;
}

/* Main Section */
.descriptor {
  margin-bottom: 35px;
}

input {
  margin: 15px auto;
}
/* 
.holder {
  margin: 0 auto;;
  padding-top: 60px;
  text-align: center;
  border: solid grey 1px;
  border-radius: 20px;
  height: 400px;
  width: 60%;
  max-width: 700px;
} */

hr {
  border-style: none;
  border-top-style: dashed;
  border-width:  4px;
  border-color: rgb(0, 124, 97);
  width: 20%;
  margin: 55px auto;
}


/* Accounts Section */

.info {
  background-color: teal;
  height: 175px;
  padding: 20px 0;
  color: #fff;
  margin: 10px auto 20px;
}

span {
  color: rgb(253, 249, 2);
  font-weight: bolder;
  font-size: 1.25rem;
}